
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Sardegna Clima</span>
    </div>
    <div class="btn-group pull-left">
      <a href="#/main/{{station.id}}" style="display: inline-block">
        <div class="btn btn-navbar sidebar-toggle">
           <i class="fa fa-arrow-circle-left"></i>
        </div>
      </a>
    </div>
</div>

<div content-for="title">
    <span>CREDITS</span>
</div>
<div class="app-body">
        <div class="scrollable-content">
          <div id="row">
              
              <div class="name-credits pull-left col-xs-5 col-sm-5">Raffaele Bua</div>
              <div class="role-credits col-xs-7 col-sm-7">Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev Dev</div>
              <div class="name-credits pull-left col-xs-5 col-sm-5">Thomas Fozzi</div>
              <div class="role-credits col-xs-7 col-sm-7">Dev</div> 
              
              <div class="name-credits col-xs-5 col-sm-5 pull-left">Francesco d'Aloisio</div>
              <div class="role-credits col-xs-7 col-sm-7">Dev</div>     
              <div class="col-xs-12 col-sm-12"><hr></div>
              
              <div class="sc-credits col-xs-12 col-sm-12"><h3>Sardegna Clima Onlus</h3></div>
              <div class="scd-credits col-xs-12 col-sm-12">Sardegna Clima nasce nel Settembre 2008, da una idea di Andrea Murgia. Tuttavia è dalla primavera del 2009, grazie alla collaborazione di Enrico Cadau, che il portale viene lanciato ufficialmente, con una nuova e più funzionale veste grafica. Contemporaneamente parte il progetto per la realizzazione di un network di stazioni meteo amatoriali distribuite in tutto il territorio regionale visualizzabili finalmente in un'unica soluzione web di facile consultazione.
Parallelamente Sardegna Clima inizia ad adoperare i dati satellitari di telerilevamento per gli studi climatologici (mappe di temperatura, ecc) e ambientali (incendi boschivi, versamenti in mare di idrocarburi, ecc) rendendo i risultati gratuitamente disponibili al pubblico.</div>
            </div>
    </div>
</div>