
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Sardegna Clima</span>
    </div>
    <div class="navbar-brand navbar-brand-center">

    </div>
    <div class="btn-group pull-left">
        <div class="btn btn-navbar sidebar-toggle">
            <a href="#/main/0" ><i class="fa fa-map-marker "></i></a>
        </div>
    </div>
</div>

<div content-for="title">
    <span>CREDITS</span>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
             <div class="scrollable-content">
                 
                <div class=" station-detail-container" >
                  TEST CREDITS
               </div>
            </div>
        </div>
    </div>

</div>


