

<!--<div class="navbar navbar-app navbar-absolute-top">-->
    <!--<div class="navbar-brand navbar-brand-center" yield-to="title">-->
        <!--<span>Sardegna Clima</span>-->
    <!--</div>-->
    <!--<div class="btn-group pull-left">-->
        <!--<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">-->
            <!--<i class="fa fa-bars"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div content-for="title">
    <span>Sardegna Clima</span>
</div>

<div id="container" style="position:relative; width: 100%;height: 100%;">
    <div id="map" style="width:100%; height: 100%; "></div>
</div>

<!--<pre>{{summary | json }} </pre>-->