
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Sardegna Clima</span>
    </div>
    <div class="navbar-brand navbar-brand-center">

    </div>
    <div class="btn-group pull-left">
        <div class="btn btn-navbar sidebar-toggle">
            <a href="#/main/{{station.id}}">Mappa</a>
        </div>
    </div>
</div>

<div content-for="title">
    <span>  {{station.name}}</span>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <div class=" station-detail-container" >
                    <div class="row-fluid measure-time-box">
                        <div class="col-xs-12 col-sm-12">{{station.measure.date | scdate}}</div>
                    </div>
                    <div class="row temperature-box">
                        <div class="col-xs-6 col-sm-6 station-temperature nopadding">{{station.measure.temp}}<span class="temp-unit">°C</span></div>
                        <div class="col-xs-5 col-sm-5 max-min-temperature-box ">
                            <div class="row station-tempmax">max {{station.measure.tempmax}}<span class="measure-unit max-min-unit">°C</span></div>
                            <div class="row station-tempmin">min {{station.measure.tempmin}}<span class="measure-unit max-min-unit">°C</span></div>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <td>Pioggia</td>
                            <td>{{station.measure.rain}} <span class="measure-unit">mm</span></td>
                        </tr>
                        <tr>
                            <td>Vento</td>
                            <td>{{station.measure.wspeed}} <span class="measure-unit">{{getWindDirectionChar(station.measure.dir)}} km/h</span></td>
                        </tr>
                        <tr>
                            <td>Punto di rugiada</td>
                            <td>{{station.measure.dp}}<span class="measure-unit">°C</span></td>
                        </tr>
                        <tr>
                            <td>Umidità</td>
                            <td>{{station.measure.hum}}<span class="measure-unit">%</span></td>
                        </tr>
                        <tr>
                            <td>Pressione</td>
                            <td>{{station.measure.bar}}<span class="measure-unit">mb</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


